@font-face {
    font-family: "Comic Sans";
    src: url(fonts/ComicNeue-BoldItalic.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1.2em;
    font-family: "Comic Sans";
}

body{
    display: grid;
    background-color: skyblue;
    width: 100vw;
    height: 100vh;

}

#container {
    display: flex;
    background-color: gray;
    justify-self: center;
    align-self: center;
    gap: 10px;
    width: 50vw;
    padding: 10px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    border: 3px solid rgb(79, 75, 75);
    box-shadow: 4px 4px rgba(87, 84, 84, 0.624);
}

button {
    padding: 4px;
    border-radius: 10px;
    width: 15vw;
    height: 15vh;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.466);
    overflow: hidden;
}

button:active {
    transform: translate(2px, 2px);
}