@font-face {
    font-family: "Comic Sans";
    src: url(fonts/ComicNeue-BoldItalic.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1.2em;
    font-family: "Comic Sans", Arial, helvetica, sans-serif;
}

body{
    display: grid;
    background-color: skyblue;
    width: 100vw;
    height: 100vh;

}

#container {
    display: flex;
    background-color: gray;
    justify-self: center;
    align-self: center;
    gap: 10px;
    width: 50vw;
    height: 50vh;
    padding: 10px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    border: 3px solid rgb(79, 75, 75);
    box-shadow: 4px 4px rgba(87, 84, 84, 0.624);
}

button {
    padding: 4px;
    border-radius: 10px;
    width: 15vw;
    height: 15vh;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.466);
    overflow: hidden;
}

button:active {
    transform: translate(2px, 2px);
}

button:hover {
    cursor: pointer;
}

#television_container {
    position: relative;
    bottom: 20px;
}

#antenna_right{
    background-color: black;
    width: 2px;
    height: 40px;
    margin-bottom: -8px;
    margin-left: 240px;
    transform: skew(-30deg);
}

#antenna_left{
    position: absolute;
    left: 180px;
    top: 1px;
    background-color: black;
    width: 2px;
    height: 40px;
    transform: skew(30deg);
}

#antenna {
    background-color: black;
    width: 60px;
    height: 30px;
    border-radius: 140px 140px 0px 0px;
    margin-bottom: -15px;
    margin-left: 180px;
}

#television {
    background-color: azure;
    display: flex;
    justify-self: left;
    justify-content: center;
    align-items: center;
    width: 23vw;
    height: 30vh;
    margin-left: 50px;
    border: 10px solid rgb(49, 48, 48);
    border-radius: 40px;
}


#screen {
    background-color: gray;
    width: 90%;
    height: 91%;
    border-radius: 40px;
    padding: 3px;
}

#television_stander_right {
    width: 20px;
    height: 20px;
    background-color: black;
    transform: skew(-20deg);
    position: absolute;
    left: 100px;
}

#television_stander_left {
    width: 20px;
    height: 20px;
    background-color: black;
    transform: skew(20deg);
    position: absolute;
    left: 290px;
}

video {
    display: none;   
    width: 100%;
    height: 100%;
}

img {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}   
